@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;
}

.max-width {
	padding: 0 80px;
	max-width: 1300px;
	margin: auto;
}

.navbar .max-width {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navbar {
	width: 100%;
	/*background: lightsteelblue;*/
	position: fixed;
	padding: 30px 0px;
	font-family: 'Ubuntu', sans-serif;
	transition: color 0.3 ease;
	z-index: 100;
}

.navbar.sticky {
	padding: 15px 0;
	background: lightsteelblue;
}

.navbar.sticky .logo span {
	color: darkblue;
}

.navbar.sticky .menu li a:hover {
	color: darkblue;
}

.navbar .logo a {
	color: white;
	font-size: 35px;
	font-weight: 600;
}

.navbar .logo span {
	color: lightsteelblue;
}

.navbar .menu li {
	list-style: none;
	display: inline-block;
}

.navbar .menu li a {
	color: white;
	font-size: 18px;
	font-weight: 500;
	margin-left: 25px;
	transition: color 0.3s ease;
}

.navbar .menu li a:hover {
	color: lightsteelblue;
}


/*menu button*/

.menu-btn {
	color: white;
	font-size: 23px;
	cursor: pointer;
	display: none;
}


/*home selection design*/

.home {
	display: flex;
	background: url("https://images.unsplash.com/photo-1620121692029-d088224ddc74?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1632&q=80") no-repeat center;
	color: white;
	height: 100vh;
	min-height: 500px;
	font-family: 'Ubuntu', sans-serif;
}

.home .max-width {
	margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
	font-size: 27px;
}

.home .home-content .text-2 {
	font-size: 75px;
	font-weight: 600;
	margin-left: -3px;
}

.home .home-content .text-3 {
	font-size: 40px;
	margin-left: 5px 0;
}

.home .home-content .text-3 span {
	color: lightsteelblue;
}


/*resposive*/

@media (max-width: 1300px) {
	.home .max-width {
		/*padding-left: 40px;*/
		margin-left: 0px;
	}
}

@media (max-width: 1104px) {
	.about .about-content .left img {
		height: 350px;
		width: 350px;
	}
}


}
@media (max-width: 991px) {
	.max-width {
		padding: 0 80px;
	}
}
@media (max-width: 947px) {
	.menu-btn {
		display: block;
		z-index: 999;
	}
	
	.menu-btn h2.active:before {
		content: \274C;
	}
	
	.navbar .menu {
		position: fixed;
		height: 100vh;
		width: 100%;
		top: 0;
		left: -100%;
		background: linear-gradient(darkblue, lightsteelblue);
		text-align: center;
		padding-top: 80px;
		transition: all 0.3s ease;
	}
	
	.navbar .menu li {
		display: block;
	}
	
	.navbar .menu.active {
		left: 0;
	}
	
	.navbar .menu li a {
		display: inline-block;
		font-size: 25px;
		margin: 20px 0;
	}
	
	.home .home-content .text-2 {
		font-size: 70px;
	}
	
	.home .home-content .text-3 {
		font-size: 35px;
	}
	/*about section responsive*/
	
	.about .about-content .column {
		width: 100%;
	}

	.about .about-content .left{
		display: flex;
		justify-content: space-between;
		margin: 0 auto 60px;
	}

	.about .about-content .right{
		flex: 100%;
	}
}
@media (max-width: 700px) {
	.max-width {
		padding: 0 23px;
	}
	
	.home .home-content .text-2 {
		font-size: 55px;
	}
	
	.home .home-content .text-3 {
		font-size: 32px;
	}
}
@media (max-width: 500px) {
	.max-width {
		padding: 0 23px;
	}
	
	.home .home-content .text-2 {
		font-size: 50px;
	}
	
	.home .home-content .text-3 {
		font-size: 32px;
	}
}

/*about section styling*/
section {
	padding-top: 100px;
}
.about {
	font-family: 'poppins', sans-serif;
}
.about .title {
	position: relative;
	text-align: center;
	font-size: 40px;
	font-weight: 500;
	margin-bottom: 60px;
	padding-bottom: 20px;
	font-family: 'Ubuntu', sans-serif;
}
.about .title::before {
	content: "";
	position: absolute;
	bottom: 0px;
	left: 50%;
	height: 3px;
	width: 180px;
	background: black;
	transform: translateX(-50%);
}
.about .title::after {
	content: "Who I Am";
	position: absolute;
	bottom: -15px;
	left: 50%;
	font-size: 20px;
	color: darkblue;
	padding: 5px;
	background: white;
	transform: translateX(-50%);
}
.about .about-content {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
.about .about-content .left img {
	height: 450px;
	width: 450;
	object-fit: cover;
}
.about .about-content .left {
	width: 45%;
}
.about .about-content .right {
	width: 55%;
}
.about .about-content .right .text span {
	color: royalblue;
}
.about .about-content .right .text {
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 10px;
}
.about .about-content .right p {
	text-align: justify;
}
.about .about-content .right a {
	display: inline-block;
	background: royalblue;
	color: whitesmoke;
	font-size: 22px;
	padding: 10px 30px;
	margin-top: 20px;
	border-radius: 6px;
	border: 2px solid steelblue;
	transition: all 0.3s ease;
}
.about .about-content .right a:hover {
	background: none;
	color: steelblue;
}