body{
    background-color: crimson;
    margin: 20px 0;
    font-family: sans-serif;

}

.wrapper{
    width: 800px;
    margin: 0 auto;
    background-color: black;
    border-radius: 6px;
}

header{
    padding: 50px;

}

header>#logo{
    font-size: 2em;
}

/*3rd commit*/

main{
    padding: 50px;
    overflow: hidden;
}

section{
    width: 70%;
    float: left;
}

aside{
    width: 30%;
    float: right;
}

footer{
    border-top: 1px solid lightseagreen;
    text-align: center;
    padding: 20px;
}
div{
    color: white;
}

